{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    {% tailwind_css %}
    <style>
        input {
            width: 100%;
        }
    </style>
</head>

<body class="w-full">
    <nav class="p-4 px-12 bg-gray-800" id="forget_password_nav">
        <div class="container flex items-center justify-between mx-auto">
            <!-- Logo -->
            <a href="#" class="text-lg font-bold text-white">
                <img src="{% static 'images/logo.jpeg'%}" alt="Logo" class="w-16 h-16">
            </a>

            <!-- Button -->
            <button
                class="flex items-center px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg hover:bg-blue-600">
                <span><a href="{% url 'home' %}">Back to home</a></span>
                <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
    </nav>
    <section class="w-full p-12 mt-12">
        {% block content %}
        {% endblock %}

    </section>
</body>

</html>