{% extends 'base.html' %}
{% block title %}
<title>login to your account</title>
{% endblock %}
{% block style_sheets %}

<style>
   nav {
      background-color: rgba(205, 230, 255, 0.123);
      padding: 4rem 2rem;
   }
</style>
{% endblock %}

{% block content %}

<div class="w-7/12 mx-auto mt-12 md:w-1/2 " id="login-form" style="margin:4rem auto;">
   <div class="p-6 space-y-8 md:space-y-6 sm:p-8 w-full border-0.5 border-gray-700">
      <h1
         class="text-xl font-semibold leading-tight tracking-tight text-center text-gray-900 md:text-3xl dark:text-white">
         welcome back
      </h1>

      <form class="p-6 space-y-4 md:space-y-8" action="{% url 'login' %}" method="post"
         style="background-color:rgba(128, 128, 128, 0.103);">
         {% csrf_token %}
         <div>
            <label for="username" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">username</label>
            <input type="username" name="username" id="username"
               class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="" required="">
         </div>
         <div>
            <label for="password" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" name="password" id="password" placeholder=""
               class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               required="">
         </div>
         <div class="flex items-center justify-center">
            <a href="{% url 'password-reset' %}"
               class="text-lg font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?
            </a>
         </div>
         <button type="submit"
            class="w-full text-white bg-indigo-800 hover:bg-indigo-900 focus:ring-4 focus:outline-none focus:ring-bg-indigo-800 font-medium rounded-lg text-lg px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">login
         </button>

         <p class="text-lg font-light text-gray-500 dark:text-gray-400">Don’t have an account yet
            <a href="{% url 'register' %}"
               class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up
            </a>
         </p>
      </form>

   </div>
</div>

{% endblock %}