{% extends 'users/forget_password_base.html' %}
{% block title %}
<title>confirm password reset</title>
{% endblock %}
{% block content %}
<div class="flex items-center justify-center bg-gray-100">
    <form method="post" class="w-1/2 p-6 bg-white rounded-lg shadow-lg">
        {% csrf_token %}
        <h2 class="mb-6 text-2xl font-bold text-center text-gray-700">Password Reset Confirm</h2>
        {% for field in form %}
        <div class="mb-4">
            <span class="block text-sm font-medium text-gray-700">{{ field.label_tag}}</span>
            <span
                class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500"></span>
            {{ field}}
            {% if field.errors %}
            <p class="mt-1 text-sm text-red-600">{{ field.errors|striptags }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="flex justify-center">
            <button type="submit"
                class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                Reset Password
            </button>
        </div>
    </form>
</div>
{% endblock content %}